<div >
    <div >
        <button class="btn btn-orange-light input-block-level form-control" ng-click=" isCollapsed_L1 = !isCollapsed_L1"><span class="white text-bold">LOST THINGS</span></button>
        <div uib-collapse="!isCollapsed_L1">
            <div class="well well-lg"> <div ui-view="lostThings_view"></div> </div>
         </div>
    </div>
</div>

<hr>

<div >
    <div >
        <button class="btn btn-orange-light input-block-level form-control" ng-click=" isCollapsed_L2 = !isCollapsed_L2;prikaziMapu_lost();"><span class="white text-bold">LOST SOMETHING</span></button>
        <div uib-collapse="!isCollapsed_L2">
            <div class="well well-lg"> <div ui-view="lostSomething_view"></div> </div>
        </div>
    </div>
</div>
