<div >
    <div  class="headerSlideRight" >
        <button ng-click="gotoElement('foundThings');load_foundThings()" id="foundThings" class="btn btn-turquoise-light input-block-level form-control"><span class="panel-title white text-bold" >FOUND THINGS</span></button>
        <div uib-collapse="!isCollapsed_F1" class="collapseTransition" >
            <div class="well well-lg " ><div ui-view="foundThings_view"></div> </div>
        </div>
    </div>
</div>

</br>

<div >
    <div class="headerSlideRightDelay"  id="foundSomething">
        <button  ng-click="load_foundSomething();gotoElement('foundSomething')" class="btn btn-turquoise-light input-block-level form-control"  ><span class="white text-bold">FOUND SOMETHING?</span></button>
        <div uib-collapse="!isCollapsed_F2" class="collapseTransition">
            <div class="well well-lg"> <div ui-view="foundSomething_view"></div> </div>
        </div>
    </div>
</div>
