<!DOCTYPE html>
<h3>Lost Things</h3>
<input type="text" placeholder="Search" id="search"/>
<label class="form_padding_ls" ng-repeat="(typeKey, typeVal) in inputs">
    <ul>
        <li ng-repeat="value in typeVal">
            <label >{{value}}
                <input
                        type="radio"
                        name="filter"
                        ng-click="filter_map($index)"

                />
            </label>
        </li>
    </ul>
</label>
<div >
    <ui-gmap-google-map ng-if="showMap_lost_things" center='map.center' zoom='map.zoom' draggable="true" options="options">
        <ui-gmap-markers click="onClick" models="markers" coords="'self'" icon="'icon'">
            <ui-gmap-windows show="show">
                <div ng-non-bindable>{{title}}</div>
            </ui-gmap-windows>
        </ui-gmap-markers>

    </ui-gmap-google-map>
</div>
    <!--<div ng-controller="chat" style="width:auto; height:auto; border: 1px solid;">-->
        <!--<div ng-repeat="message in messages">-->
            <!--{{ message.user.name }}:-->
            <!--{{ message.data }}-->
        <!--</div>-->
        <!--<form ng-submit="send()" style="margin:5px;">-->
            <!--<input ng-model="textbox">-->
            <!--<button type="submit">Send</button>-->
        <!--</form>-->
        <!--<button ng-click="clear()" style="margin:5px;">Clear</button>-->
    <!--</div>-->
</div>