<!DOCTYPE html>
<h3>Lost Things</h3>
<input type="text" placeholder="Search" id="search">
<label>all<input type="radio" name="filter" ng-click="filter_map(-1)"/></label>
<label class="form_padding_ls" ng-repeat="(typeKey, typeVal) in inputs">
    <ul>
        <li ng-repeat="value in typeVal">
            <label >{{value}}
                <input
                        type="radio"
                        name="filter"
                        ng-click="filter_map($index)"

                />
            </label>
        </li>
    </ul>
</label>
<div  ng-if="showMap_lost_things">
    <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable="true" options="options">
        <ui-gmap-markers click="onClick" models="markers" coords="'self'" icon="'icon'">
            <ui-gmap-windows show="show">
                <div ng-non-bindable>{{title}}</div>
            </ui-gmap-windows>
        </ui-gmap-markers>

    </ui-gmap-google-map>
</div>
<div style="border: 3px solid" class="row">

<label><h4>Found by: </h4>{{finder}}</label>
    </br>
<label><h4>Item Name: </h4>{{itemName}}</label>
    </br>
<label><h4>Description: </h4>{{description}}</label>
    </br>

    <label ng-show="!chatValue" class="text-danger" style="font-size:18px;">You can live chat if you <a style="font-size:16px" ng-click="log_in_modal()">Log in</a></label>
    <div>
        <div ng-if="chatValue" ng-controller="chat" class="col-md-4 col-md-offset-4" style="border: 1px solid; height:400px;">
            <div ng-repeat="message in messages">
                {{ message.user.name }}:
                {{ message.data }}
            </div>
            <form ng-submit="send()" style="margin:5px;">
                <input ng-model="textbox">
                <button type="submit">Send</button>
            </form>
            <button ng-click="clear()" style="margin:5px;">Clear</button>
        </div>
    </div>
</div>
