.angular-google-map-container { height: 400px; }

 #map {
        height: 100%;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }

.yellow{

    color:#F7B733;
}
.btn-yellow{

    background:#F7B733;
}
.darkgray{

    background:#535353;
}
 .white{

     color:whitesmoke;
 }
.turquoise{

    color:#4ABDAC;
}
.orange{

    color:#E24E42;
}
.btn-small-width{

    width: 100px;
}
.btn-orange-light{

    background:#E24E42;
}
.btn-turquoise-light{

    background:#4ABDAC;
}
.btn-orange-dark{

    background:#FF5900;
}
.btn-turquoise-dark{

    background:#00A874;
}
.navbar {

    border-radius:0px;

    }

.btn {

    border-radius:0px;

}

.well{

    border-radius:0px;
}

.text-bold{

    font-weight: bold;
}